
//STYLE VARIABLES

//group btn background
$primary-btn-color: #ffe203;
$operator-btn-color: #fa725a;

$back-btn-color: #ffbb00;
$clear-btn-color: #92dcff;
$equal-btn-color: #49bcfa;

//main btns text color
$btn-text-color: white;

//calculator accent
$title-color: rgb(225, 40, 40);

//on hover backgorund colors
$primary-btn-hover-color: rgb(255, 247, 8) !important;
$operator-btn-hover-color: rgb(249, 3, 3);
$clear-btn-hover-color: rgb(6, 240, 248);
$equal-btn-hover-color: #04a7ff;
$back-btn-hover-color: rgb(255, 202, 10);

//on hover text colors
$primary-btn-hover-text-color: #fdfafa !important;
$operator-btn-hover-text-color: white;
$clear-btn-hover-text-color: white;
$equal-btn-hover-text-color: white;
$back-btn-hover-text-color: white;

//NUMBER VARIABLES
$btn-radius: 40px !important;
$btn-height: 80px;
$btn-width: 80px;
$btn-font-size: 25px !important;
$display-font-size: 45px;
$title-position-top: 20%;
$title-position-left: 51%;